out*/


# Build outputs
build/
_skbuild/
dist/
*.egg-info/
.eggs/

# Python cache/bytecode
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/
.hypothesis/
.nox/
.tox/

# Python packaging
pip-wheel-metadata/
build/

# Compiled binaries / objects
*.o
*.obj
*.lo
*.la
*.a
*.lib
*.so
*.dylib
*.dll
*.exp
*.pdb
*.pyd

# Virtualenvs
.venv/
venv/

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
.vs/

# Visual Studio / MSBuild (rare in-source)
*.vcxproj*
*.sln
*.user
*.opensdf
*.sdf
*.suo
*.cachefile

# CMake cache
CMakeCache.txt
CMakeFiles/
cmake-build-*/

# Jupyter
.ipynb_checkpoints/

